/* Modern CSS Reset by Andy Bell https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    /*Paddings and margins are considered in the max-size*/
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}



/* Set core body defaults */
body {
    min-height: 100vh;
    min-height: 100svh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
}

body {
    background-color: #F4D04E;
    font-family: 'Figtree', sans-serif;
    padding: 15px;    
    display: flex;
    flex-direction: column;
    justify-content: center; /*Vertical*/
    align-items: center; /*Horizontal*/
}

h2 {
    font-weight: 800;
    color: #111111;
    font-size: 1.5rem;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

h2 a:hover {
    color: #F4D04E;
}

.card {
    max-width: 24rem;
    background-color: white;
    border-radius: 20px;
    border: 0.1rem solid black;
    box-shadow: 0.5rem 0.5rem 0 rgb(0, 0, 0, 1);
    margin: 2rem 0 2rem 0;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.illustration {
    border-radius: 10px;
}

.tag {
    background-color: #F4D04E;
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: 800;
    color: #111111;
    font-size: 0.9rem;
}

.card-texts {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
}

.publication {
    color: #111111;
    font-size: 0.9rem;
}

.description {
    color: #6B6B6B;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem; /* 12px */
    color: #111111;
    font-size: 0.9rem;
    font-weight: 800
}

.author img {
    max-width: 2rem;
}